@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poiret+One&display=swap");
body {
  background-image: url(../public/images/backgroundImage.jpg);
  background-size: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #e7def4;
  color: black;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}
.header-h1 {
  position: relative;
  display: inline-block;
  left: 2%;
}
.header-icon {
  position: relative;
  left: 2%;
}
.textArea-form {
  position: relative;
  margin: 60px auto 20px auto;
  width: 55%;
  background-color: #efe4fe;
  padding: 2%;
  border-radius: 7px;
  border: 3px solid black;
}
.form-input,
.form-textArea {
  width: 100%;
  border: none;
  font-family: "Indie Flower", cursive;
  resize: none;
  font-weight: 400;
  padding: 1%;
  font-size: 1.2em;
  align-items: center;
  box-sizing: border-box;
}
.form-input {
  font-weight: bold;
}
.form-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.note {
  background-color: #efe4fe;
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 3%;
  padding: 2% 1%;
  border: 2px solid black;
  margin-bottom: 3%;
  max-width: 200px;
  /* Set maximum width */
  width: 100%; /* Ensure notes occupy full width within their container */
}
.div-notes {
  column-count: 4;
  margin: 2em 2em 2em 2em;
  column-width: 25%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;

  padding: 10px;
}
.deleteButton {
  border: none;
}

.completed {
  border: none;
  padding: 0;
}
.note-p,
.note-p-id .note-h1 {
  margin: 0;
  padding-bottom: 0;
}
.note-h1 {
  font-size: 1.2em;
  display: inline;
}
.note-p-id {
  font-weight: bolder;
  display: inline;
}
